@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200&family=Mukta&display=swap');

* {
  margin: 0;
  font-family: 'Mukta', sans-serif;  color: #333;
  --westar:#d4cdc4;
  --slategrey:#80909f;
  --vinrouge:#965456;
  --leather:#906652;
  --cello:#3f4f62;
  --bazaar:#927478;
  --rosybrown:#bb8a8d;
  --airforceblue:#5c8cac;
}
body { 

}

/* html {
  font-size: 62.5%; 
}

h1 {
  font-size: 5rem; 
}

h2 {
  font-size: 3.4rem; 
}

h4 {
  font-size: 2.0rem;
}

p {
  font-size: 2.6rem;
}

li {
  font-size: 2.8rem;
}
 */
.container-fluid {
  margin: 0;
  padding: 0;
}

/* navbar */
.navbar {
/*   padding: 20px; */
/*   */
}

.navbar a {
  color: var(--cello); 
  font-size: 22px;
  margin-left: 20px;
  text-decoration: none;
  padding: 6px;
  margin-left: 40px;
}

/* .navbar a:focus {
  transition: 0.5s;
  color: var(--slategrey); 
}
 */
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

a.active {
  transition: 0.2s;
  color: var(--slategrey); 
}


/* home page */

.accordion-body {
  color: var(--cello);
}

.accordion-collapse.collapse.show {
  color: red;
}

/* copyright */
.copyright-txt {
  margin: 0px;
  color: #808080;
}

.arrow-down {
  animation-name: arrow-down;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes arrow-down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(10px);
  }
}

/* @media (min-width: 768px) {
  .img-carousel-container {
    width: 50%;
  }
} */

/* contact form */
.bg-primary{
  background-color: #80909fa6 !important;
}

.form-control {
  height: 36px;
  background: #fff;
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  border-radius: 2px;
  box-shadow: none !important;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.contact-form .form-control {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
}

.form-control:focus,.form-control:active {
  border-color: #80909f !important;
}

.form-label {
  color: #000;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.btn.btn-primary {
  background: #80909fa6 !important;
  border-color: #80909fa6 !important;
  color: #fff;
  width: 100px;
  border-radius: 0!important;
  
}

.btn.btn-primary:hover{
  transition: 0.5s;
  background-color: #80909fde !important;
}

.bi{
  font-size: 50px;
}