@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200&family=Mukta&display=swap');

* {
  margin: 0;
  font-family: 'Mukta', sans-serif;  color: #333;
  --westar:#d4cdc4;
  --slategrey:#80909f;
  --vinrouge:#965456;
  --leather:#906652;
  --cello:#3f4f62;
  --bazaar:#927478;
  --rosybrown:#bb8a8d;
  --airforceblue:#5c8cac;
}
body { 

}



.navbar {
  padding: 20px;
  border-bottom: 1px solid #80909f4c;
}

.navbar a {
  color: var(--slategrey); 
  font-size: 22px;
  margin-left: 20px;
  text-decoration: none;
  padding: 6px;
}

/* 
a:hover {
  transition: 0.5s;
  background-color: rgba(246, 246, 246, 0.539);
  color: var(--cello); 
} */

.navbar a:focus {
  transition: 0.5s;
  color: var(--vinrouge); 
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}